<div class="row">
  <div class="col-xs-9 col-md-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-9 col-md-12">
    <h1>Name</h1>
  </div>

  <div class="col-xs-9 col-md-12">
    <div class="btn-group">

      <button type="button" class="btn btn-primary dropdown-toggle">

        Manage Products <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Shopping list</a></li>
        <li><a href="#">Edit Products</a></li>
        <li><a href="#">Delete Products</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-9 col-md-12">
    Descrption
  </div>
</div>
<div class="row">
  <div class="col-xs-9 col-md-12">
    prodcts includes
  </div>
</div>
